<div class="row">
    <div *ngFor="let m of movieItems">
        <div class="col-md-6 col-sm-6 highlight">
            <div class="well well-lg">
                <div class="h-body text-center">
                    <button class="btn btn-success" (click)="addMovie(m)"> Buy</button>
                </div>
                <div class="h-caption">
                    <h4><i class="fa fa-video-camera fa-5"></i>{{m.movieName}}</h4>
                </div>
                <div class="h-body text-center">
                    <p>
                        <a href="#" target="_blank"><img [src]=getImage(m) [alt]="m.movieName" class="img-rounded" width="600" height="300"></a>
                    </p>
                    <p>Director:- {{m.directorName}}</p>
                    <p>Actor:- {{m.actorName}}</p>
                    <p>Genre:- {{m.genre}}</p>
                    <p>Release Date:- {{m.releaseDate}}</p>
                    <p>Unit Price:- {{m.price | currency:'USD':true}}</p>

                </div>
            </div>
        </div>
    </div>
</div>